# Ignore all subfolders in QDSoftware
# Done to avoid saving custom results
/src/*/

# Do NOT ignore important folders
!/src/raytracer/
!/src/input/
!/src/utils/
!/src/examples/
!/src/visualizer/
!/src/quaternions/

# Ignore cached files
**/cachedCadOutput.mat

# Ignore profile results
**/profile_results*

## Useless/temporary files to ignore
# MATLAB
*.asv
*.m~
src/examples/L-Room-rotation-multiPAAs/Input/node0paa.dat
src/examples/L-Room-rotation-multiPAAs/Input/node1paa.dat
src/examples/L-Room-rotation-multiPAAs/Output/Visualizer/NodePositions.json
src/examples/SpatialSharing/Output/Visualizer/RoomCoordinates/RoomCoordinates.csv
